<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  This is a sample contact page for <em> RAD Tute Week 6 </em>
</p>
<p>
  Feel free to contact me via email <a href="mailto:s3663337@student.rmit.edu.au">here</a>, or look me us via my student number s3663337.
</p>