<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to RAD 2021<%= (" " + @name) if @name %>!</h1>
  <a href="https://www.rmit.edu.au/"> Visit me here</a>
  <%= form_tag action: 'home' do %>
    <p> Your name:
      <%= text_field_tag 'visitor_name', @name %> </p>
    <%= submit_tag 'Enter' %>
  <% end %>
<!--  <p><%#= link_to "Login now!", '#', class: "btn btn-lg btn-primary" %></p>-->
</div>
