<h1>Hello#index</h1>

<h1><%= @message %></h1>
<p>From app/views/hello/index.html.erb</p>
<p>Here's a special message from the controller: <%= @bonus %></p>
<p><%= @extra * @count %></p>
<p>It is now <%= Time.now %></p>